.left-image {
    background-image: url('../img/charles-rRWiVQzLm7k-unsplash.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay {
    background-color: rgba(7, 35, 82, 0.65);
    position: relative;
    width: 105%; 
    height: 100%;
    margin-left: -15px;
}