.textField{
    background-color: rgb(236, 242, 248);
    border:none;
    outline: none;
    border-radius: 50px 0px 0px 50px;
    padding: 15px;
    margin-bottom: 20px;
    color: black;
    width: 300px;
}

.button{
    background-color:rgb(209, 217, 224); 
    border-radius: 0px 50px 50px 0px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px;
    height: 54px;
}

.button:hover:enabled{
    background-color: #F37524;
}

.button:hover:disabled{
    background-color: rgb(209, 217, 224);
    cursor:not-allowed;
}