header {
    padding: 20px;
    background-size: cover;
    margin-top: 170px;
}

header .intro {
    color: #19345F;
    text-align: left;
}

header .name {
    font-size: 140px;
    margin-top: -20px;
}

header .desc {
    font-size: 50px;
    margin-top: -50px;
}

header .btn-getintouch {
    background-color: #F37524;
    color: #ffffff;
    border-radius: 50px;
    font-size: 22px;
    width: 160px;
    height: 50px;
}

.btn-p {
    background-color: #F37524;
    color: #ffffff;
    border-radius: 50px;
    font-size: 22px;
    width: 160px;
    height: 50px;
    margin-bottom: 50px;
}

.btn-p:hover {
    background-color: #19345F;
    color: white !important;
}