#review {
    color: #19345F;
}

#message {
    margin-top: 50px;
    margin-bottom: 50px;
    font-style: italic;
    text-align: justify;
}

.card {
    background-color: white;
    margin-top: 112px;
}

.col1 {
    width: 200px;
    float: left;
}